<!-- Footer Start -->
<div class="container-fluid bg-white footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <img src="/assets/img/logo.png" alt="ChaitvaOrganics Logo" style="height: 100px;">
                <p>From Soil to Soul</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-dark rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-dark rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-dark rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-dark rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-dark mb-4">Address</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i>116-18-64, Sharoff Bazar, Revenue ward 9, Tenali, Guntur-Dt, AndhraPradesh, 522201</p>
                <p><i class="fa fa-phone-alt me-3"></i>+91 9618413602</p>
                <p><i class="fa fa-envelope me-3"></i>info&#64;chaitvaorganics.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-dark mb-4">Quick Links</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
            </div>
            <div class="col-lg-3 col-md-6">
                &copy; <a class="text-dark" href="#">ChaitvaOrganics</a>, All Right Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
